<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= link_to "Dashboard", pages_dashboard_path %>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  not signed in
  <%= link_to "Login", login_path %> |
  <%= link_to "Create Account", sign_up_path %>
<% end %>
